<%=@attacker_name%> VS <%= @attacked_name %> <br />
<%=@attacker_name%> HP = <%=@attacker_health%>/100
<%=@attacked_name%> HP = <%=@attacked_health%>/100

<form action="/attack_msg">
  <input type="submit" value="Attack!" />
</form>
